<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="container">
  <div class="row">
    <div class="col">
      <label>titulo Persona</label>
      <input type="text" class="form-control"
     >
     {{tituloPersona}}

      <h1>Lsitado de personas</h1>
      <button class="btn btn-primary" [disabled]="!AgregarPersonas" (click)="onCrearPersonas()">
        Agregar Persona</button>

      <p *ngIf="personaCreada; else sinPersona ">{{agregarPersonaStatus}}con  titulo de {{tituloPersona}}</p>
        <ng-template #sinPersona>
          <p>NO se agregado ninguna persona</p>
        </ng-template>

        <app-persona></app-persona>

    </div>

  </div>
</div>
